/* LoginPage specific styles */
.background-pattern {
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='1'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.rotate-neg-5 {
  transform: rotate(-5deg);
}

.rotate-3 {
  transform: rotate(3deg);
}

.rotate-neg-2 {
  transform: rotate(-2deg);
}

.rotate-2 {
  transform: rotate(2deg);
}

.rotate-neg-1 {
  transform: rotate(-1deg);
}

.rotate-1 {
  transform: rotate(1deg);
}

.rotate-4 {
  transform: rotate(4deg);
}

.animation-delay-1 {
  animation-delay: 1s;
}

.animation-delay-2 {
  animation-delay: 2s;
}

.dashboard-size {
  width: 750px;
  height: 500px;
}

.dashboard-item-1 {
  left: 80px;
  top: 80px;
}

.dashboard-item-2 {
  left: 310px;
  top: 80px;
}

.dashboard-item-3 {
  left: 500px;
  top: 80px;
}

.dashboard-item-4 {
  left: 500px;
  top: 200px;
}

.dashboard-item-5 {
  left: 310px;
  top: 200px;
}

.dashboard-item-6 {
  left: 80px;
  top: 200px;
}

.dashboard-item-7 {
  left: 80px;
  top: 320px;
}

.dashboard-item-8 {
  left: 310px;
  top: 320px;
}
